<h1>User CRUD demo using single component</h1>
<demo to learn branching></demo>


<table class="table table-bordered">
  <thead>
    <tr class="table-dark">
      <th>Id</th>
      <th>Name</th>
      <th>City</th>
      <th>Actions</th>   

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.userid }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.city }}</td>
      <td>
        <input type="button" value="Edit" class="btn btn-warning btn-sm " (click)="editUser(user.userid)" /> |
        <input type="button" value="Delete" class="btn btn-danger btn-sm " (click)="deleteUser(user.userid)" />
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <input type="text" [(ngModel)]="user.userid" [readOnly]="isEdit" />
      </td>
      <td>
        <input type="text" [(ngModel)]="user.name" />
      </td>
      <td>
        <input type="text" [(ngModel)]="user.city" />
      </td>
      <td>
        <input type="button" value="Add User" class="btn btn-primary btn-sm " *ngIf="!isEdit" (click)="addUser()" />
        <input type="button" value="Save" class="btn btn-success btn-sm " *ngIf="isEdit"  (click)="updateUser(user.userid)" />
      </td>
    </tr>
  </tfoot>
</table>